/* CSS files add styling rules to your content */

body {
  margin: 0em;
  font-family: "Roboto", sans-serif;
}

.content {
  margin: 2em;
  font-family: "Roboto", sans-serif;
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  .content {
    margin: 1em;
    font-family: "Roboto", sans-serif;
  }
}

hr {
  background-color: blue;
  border: 2px solid blue;
}

/* ---------------- Hover Box  ---------------- */
.hover {
  border: 0px solid transparent;
  padding: 10px 10px 10px 10px;
}

.hover:hover {
  border: 1px solid transparent;
  background-color: white;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 transparent;
}

/* ---------------- Space ---------------- */
.space {
  float: left;
  width: 100%;
  padding: 0px;
  height: 50px;
  background-color: none;
}

.space1 {
  float: left;
  width: 100%;
  padding: 0px;
  height: 70px;
  background-color: none;
}

.space2 {
  float: left;
  width: 100%;
  padding: 0px;
  height: 70px;
  background-color: none;
}

.space3 {
  float: left;
  width: 0%;
  padding: 0px;
  height: 0px;
  background-color: none;
}

.space4 {
  float: left;
  width: 100%;
  padding: 0px;
  height: 20px;
  background-color: none;
}

.space5 {
  float: left;
  width: 0%;
  padding: 0px;
  height: 0px;
  background-color: none;
}
/* ---------------- box basic  ---------------- */
* {
  box-sizing: border-box;
}

/* thing will not go the left and right*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* =========================== ======= Header ======  =========================== */
/* ---------------- Logo ---------------- */
#GoogleLogo {
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------- Navbar---------------- */
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: none;
}

.navleft {
  list-style-type: none;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}

.navright {
  list-style-type: none;
  overflow: hidden;
  padding-top: 1.5%;
  display: block;
}

.navli {
  float: left;
  font-size: 16px;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #5F6368;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  /*font-family: "Google Sans",Roboto,Arial,sans-serif;*/
}

.navli1 a:link {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli1 a:visited {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli1 a:hover {
  background-color: none;
  /*mediumpurple*/
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid #dfe1e5;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

.navli1 a:active {
  background-color: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  border-bottom: 3px solid #4285f4;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

.navli2 a:link {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli2 a:visited {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli2 a:hover {
  background-color: none;
  /*mediumpurple*/
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid #dfe1e5;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

.navli2 a:active {
  background-color: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  border-bottom: 3px solid #db4437;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

.navli3 a:link {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli3 a:visited {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli3 a:hover {
  background-color: none;
  /*mediumpurple*/
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid #dfe1e5;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

.navli3 a:active {
  background-color: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  border-bottom: 3px solid #ec8a00;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

.navli4 a:link {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli4 a:visited {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli4 a:hover {
  background-color: none;
  /*mediumpurple*/
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid #dfe1e5;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

.navli4 a:active {
  background-color: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  border-bottom: 3px solid #319353;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

.navli5 a:link {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli5 a:visited {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navli5 a:hover {
  background-color: none;
  /*mediumpurple*/
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid #dfe1e5;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

.navli5 a:active {
  background-color: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  border-bottom: 3px solid #4285f4;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
}

/* ---------------- Responsive ---------------- */
/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  #GoogleLogo {
    width: 50%; /* The width is 50%, when the viewport is 800px or smaller */
  }
  .navleft li {
    padding: 10px;
  }

  .navli3 a:hover {
    background-color: none;
    /*mediumpurple*/
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid #dfe1e5;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli3 a:active {
    background-color: none;
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid #ec8a00;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (max-width: 600px) {
  #search {
    width: 4%;
    height: 4%;
    display: block;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
  }

  .navleft li {
    padding: 6px;
  }

  .navli1 a:hover {
    background-color: none;
    /*mediumpurple*/
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid #dfe1e5;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli1 a:active {
    background-color: none;
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid #4285f4;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli2 a:hover {
    background-color: none;
    /*mediumpurple*/
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid #dfe1e5;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli2 a:active {
    background-color: none;
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid #db4437;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli3 a:hover {
    background-color: none;
    /*mediumpurple*/
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid #dfe1e5;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli3 a:active {
    background-color: none;
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid #ec8a00;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli4 a:hover {
    background-color: none;
    /*mediumpurple*/
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid #dfe1e5;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli4 a:active {
    background-color: none;
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid #319353;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli5 a:hover {
    background-color: none;
    /*mediumpurple*/
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid #dfe1e5;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }

  .navli5 a:active {
    background-color: none;
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid #4285f4;
    padding-bottom: 10%;
    font-family: "Roboto", sans-serif;
  }
}

/* =========================== ======= Content1 (Welcome) ======  =========================== */
/* ---------------- Img ---------------- */
#banner {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ---------------- Text ---------------- */
#content1title {
  color: #424242;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
}

#content1subtitle {
  color: #424242;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

#content1par {
  color: #424242;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 65%;
}

#content1name {
  color: #5F6368;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

/* ---------------- Responsive ---------------- */
/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  #content1par {
    color: #424242;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    width: 100%;
  }
}

/* =========================== ======= Content 2 (newfeed) ======  =========================== */
/* ---------------- box ---------------- */
.boxc2 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: auto;
}

.leftboxc2 {
  background-color: none;
  float: left;
  font-family: "Roboto", sans-serif;
  /*overflow: auto;*/
}

.rightboxc2 {
  background-color: none;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

.twocolc2 {
  width: 50%;
}

/* ---------------- text ---------------- */
#content2header {
  color: #000000;
  font-size: 24px;
  padding: 10px 0px 10px 0px;
  font-family: "Roboto", sans-serif;
}

.content2date {
  color: #5F6368;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.content2title {
  color: #414549;
  font-size: 24px;
  margin-top: 8px;
  font-family: "Roboto", sans-serif;
}

.content2para {
  color: #414549;
  font-size: 16px;
  margin-top: 24px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}

.content2par {
  color: #414549;
  font-size: 16px;
  margin-top: 8px;
  font-family: "Roboto", sans-serif;
}

/* ---------------- Img ---------------- */
#content2img {
  width: 95%;
  height: 47%;
}

/* ---------------- New letter  ---------------- */
.clearfixnew {
  overflow: center;
  background-color: lightgrey;
  width: 80%;
  margin: auto;
}

#newletter1 {
  padding-left: 35px;
  padding-top: 35px;
  display: block;
  color: #000000;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#newletter2 {
  padding-left: 35px;
  padding-bottom: 35px;
  display: block;
  color: #1967D2;
  font-size: 16px;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
}

#newletterimg {
  width: 20%;
  height: 15%;
  float: right;
  padding-top: 15px;
}

/* ---------------- Responsive ---------------- */
/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  .rightboxc2 {
    background-color: none;
    padding: 0px;
    font-family: "Roboto", sans-serif;
  }

  .clearfixnew {
    overflow: center;
    background-color: lightgrey;
    width: 100%;
    margin: auto;
  }

  #newletter1 {
    padding-left: 25px;
    padding-top: 35px;
    display: block;
    color: #000000;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }

  #newletter2 {
    padding-left: 25px;
    padding-bottom: 35px;
    display: block;
    color: #1967D2;
    font-size: 16px;
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
  }

  #newletterimg {
    width: 20%;
    height: 15%;
    float: right;
    padding-top: 35px;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .twocolc2 {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .rightboxc2 {
    background-color: none;
    padding: 0px;
    font-family: "Roboto", sans-serif;
  }
}

/*-- =========================== ======= Content 3 (newfeed more) ======  =========================== --*/
/* ---------------- box ---------------- */
.boxc3 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 550px;
}

.boxdiffc3 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 400px;
}

.leftboxc3 {
  background-color: none;
  padding-left: 35px;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  /*overflow: auto;*/
}

.rightboxc3 {
  background-color: none;
  padding-left: 35px;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
}

.twocolc3 {
  width: 50%;
}

/* ---------------- content ---------------- */
.content3img {
  width: 95%;
  height: 60%;
}

.content3imgpeople {
  width: 10%;
  height: 10%;
  float: left;
}

.content3title {
  color: #424242;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}

.content3title1 {
  color: #424242;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}

.content3text {
  color: #424242;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}

.content3textpeople {
  color: #424242;
  font-size: 16px;
  position: right;
  font-family: "Roboto", sans-serif;
}

.content3name {
  color: #5F6368;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

/* ---------------- Responsive ---------------- */
/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .space2 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 50px;
    background-color: none;
  }

  .space3 {
    float: left;
    width: 0%;
    padding: 0px;
    height: 0px;
    background-color: none;
  }

  .boxc3 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 500px;
  }

  .boxdiffc3 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 500px;
  }

  .leftboxc3 {
    background-color: none;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
  }

  .rightboxc3 {
    background-color: none;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
  }

  .content3img {
    width: 95%;
    height: 40%;
  }

  .content3title1 {
    color: #424242;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    width: 90%;
  }
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  .space2 {
    float: left;
    width: 0%;
    padding: 0px;
    height: 0px;
    background-color: none;
  }

  .space3 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 50px;
    background-color: none;
  }

  .twocolc3 {
    width: 100%;
  }

  .leftboxc3 {
    background-color: none;
    padding-left: 20px;
    padding-top: 500px;
    font-family: "Roboto", sans-serif;
  }

  .rightboxc3 {
    background-color: none;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
  }

  .boxc3 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 500px;
  }

  .boxdiffc3 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 300px;
  }
  .content3title1 {
    color: #424242;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    width: 90%;
  }

  .content3img {
    width: 100%;
    height: 50%;
  }
}

/*-- =========================== ======= Content 4 (Featured Collection) ======  =========================== --*/

#content4header {
  color: #000000;
  font-size: 24px;
  padding: 10px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
}

.collection {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}

.collectionleft {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: #000000;
  font-size: 24px;
  float: left;
  display: block;
  font-family: "Roboto", sans-serif;
}

.collectionright {
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
  float: right;
  color: #1967d2;
  background-color: lightgrey;
  font-family: "Roboto", sans-serif;
}

/* ---------------- box ---------------- */
.boxc4 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 400px;
}

.boxc42 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 400px;
}

.leftboxc4 {
  background-color: none;
  float: left;
  /*overflow: auto;*/
}

.centreboxc4 {
  background-color: none;
}

.rightboxc4 {
  background-color: none;
}

.threecolc4 {
  width: 33.33%;
}

/* ---------------- content ---------------- */
.content4img {
  width: 90%;
  height: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.content4title {
  color: #424242;
  font-size: 24px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
}

.content4text {
  color: #424242;
  font-size: 16px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}

.content4name {
  color: #5F6368;
  font-size: 14px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
}

.arrow {
  width: 5%;
  height: 5%;
  float: right;
}

/* Use a media query to add a break point at 300px: */
@media screen and (max-width: 600px) {
  .threecolc4 {
    width: 100%;
  }

  .boxc4 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 200px;
  }

  .boxc42 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 500px;
  }

  .content4img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 0px;
    margin-right: auto;
    padding-top: 10px;
  }

  .content4title {
    color: #424242;
    font-size: 24px;
    padding-left: 0px;
    font-family: "Roboto", sans-serif;
  }

  .content4text {
    color: #424242;
    font-size: 16px;
    padding-left: 0px;
    font-family: "Roboto", sans-serif;
    width: 90%;
  }

  .content4name {
    color: #5F6368;
    font-size: 14px;
    padding-left: 0px;
    font-family: "Roboto", sans-serif;
  }

  .collectionleft {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    color: #000000;
    font-size: 20px;
    float: left;
    display: block;
    font-family: "Roboto", sans-serif;
  }

  .space5 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 20px;
    background-color: none;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .content4img {
    width: 95%;
    height: 20%;
  }

  .boxc4 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: auto;
  }

  .boxc42 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: auto;
  }

  .arrow {
    width: 10%;
    height: 10%;
    float: right;
  }
}

/*-- =========================== ======= Content 5 (Featured Collection more) ======  =========================== --*/
/* ---------------- box ---------------- */
.boxc5 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 600px;
}

.boxdiffc5 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 400px;
}

.leftboxc5 {
  background-color: none;
  padding-left: 35px;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  /*overflow: auto;*/
}

.rightboxc5 {
  background-color: none;
  padding-left: 35px;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
}

.twocolc5 {
  width: 50%;
}

/* ---------------- content ---------------- */
.content5img {
  width: 95%;
  height: 60%;
}

.content5imgpeople {
  width: 10%;
  height: 10%;
  float: left;
}

.content5title {
  color: #424242;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}

.content5title1 {
  color: #424242;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}

.content5text {
  color: #424242;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}

.content5textpeople {
  color: #424242;
  font-size: 16px;
  position: right;
  font-family: "Roboto", sans-serif;
}

.content5name {
  color: #5F6368;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

/* ---------------- Responsive ---------------- */
/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .space2 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 50px;
    background-color: none;
  }

  .space3 {
    float: left;
    width: 0%;
    padding: 0px;
    height: 0px;
    background-color: none;
  }

  .boxc5 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 500px;
  }

  .boxdiffc5 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 500px;
  }

  .leftboxc5 {
    background-color: none;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
  }

  .rightboxc5 {
    background-color: none;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
  }

  .content5img {
    width: 95%;
    height: 40%;
  }

  .content5title1 {
    color: #424242;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    width: 90%;
  }
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  .space2 {
    float: left;
    width: 0%;
    padding: 0px;
    height: 0px;
    background-color: none;
  }

  .space3 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 50px;
    background-color: none;
  }

  .twocolc5 {
    width: 100%;
  }

  .leftboxc5 {
    background-color: none;
    padding-left: 20px;
    padding-top: 500px;
    font-family: "Roboto", sans-serif;
  }

  .rightboxc5 {
    background-color: none;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
  }

  .boxc5 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 500px;
  }

  .boxdiffc5 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 300px;
  }
  .content5title1 {
    color: #424242;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    width: 90%;
  }

  .content5img {
    width: 100%;
    height: 50%;
  }
}

/*-- =========================== ======= Content 6 (The lastest) ======  =========================== --*/

#content6header {
  color: #000000;
  font-size: 24px;
  padding: 10px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
}

/* ---------------- box ---------------- */
.boxc6 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 400px;
}

.leftboxc6 {
  background-color: none;
  /*overflow: auto;*/
}

.centreboxc6 {
  background-color: none;
}

.rightboxc6 {
  background-color: none;
}

.threecolc6 {
  width: 33.33%;
}

/* ---------------- content ---------------- */
.content6img {
  width: 90%;
  height: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.content6text {
  color: #424242;
  font-size: 16px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  width: 90%;
}

.arrow {
  width: 5%;
  height: 5%;
  float: right;
}

.twitter {
  width: 10%;
  height: 5%;
  padding-left: 20px;
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  .threecolc6 {
    width: 100%;
  }

  .boxc6 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 500px;
  }

  .content6img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 0px;
    margin-right: auto;
    padding-top: 10px;
  }

  .content6text {
    color: #424242;
    font-size: 16px;
    padding-left: 0px;
    font-family: "Roboto", sans-serif;
    width: 90%;
  }

  .space5 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 20px;
    background-color: none;
  }

  .twitter {
    width: 6%;
    height: 5%;
    padding-left: 0px;
  }
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  .threecolc6 {
    width: 100%;
  }

  .boxc6 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: 500px;
  }

  .content6img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 0px;
    margin-right: auto;
    padding-top: 10px;
  }

  .content6text {
    color: #424242;
    font-size: 16px;
    padding-left: 0px;
    font-family: "Roboto", sans-serif;
    width: 90%;
  }

  .space5 {
    float: left;
    width: 100%;
    padding: 0px;
    height: 20px;
    background-color: none;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .content6img {
    width: 95%;
    height: 20%;
  }

  .boxc6 {
    float: left;
    /*width: 33.33%;*/
    padding: 0px;
    height: auto;
  }

  .arrow {
    width: 10%;
    height: 10%;
    float: right;
  }
  .twitter {
    width: 20%;
    height: 5%;
    padding-left: 20px;
  }
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  .twitter {
    width: 6%;
    height: 5%;
    padding-left: 0px;
  }
}

/*-- =========================== ======= footer ======  =========================== --*/
footer {
  /*font-family: helvetica, arial, sans-serif;*/
  margin: 0em;
}

.footerline {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  margin: 0em;
}

/* ---------------- box ---------------- */
.box3 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 350px;
}

.leftbox3 {
  background-color: none;
  float: left;
  padding-left: 4.5em;
  padding-top: 3em;
}

.rightbox3 {
  background-color: none;
  padding-top: 3em;
}

.twocol2 {
  width: 50%;
}

/* ---------------- footer link---------------- */
.content8title {
  padding-bottom: 25px;
  color: #5F6368;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.content8text {
  color: #5F6368;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.footer {
  margin: 0;
  padding-left: 35%;
  padding-right: 2em;
  display: flex;
  width: 100%;
  height: 100%;
}

.footerleft {
  list-style-type: none;
  padding-right: 20%;
}

.footerright {
  list-style-type: none;
  padding: 0;
}

.navfooter {
  float: left;
  font-size: 16px;
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
  color: #5F6368;
  font-family: "Roboto", sans-serif;
  /*font-family: "Google Sans",Roboto,Arial,sans-serif;*/
}

.navfooter1 {
  float: left;
  display: block;
  padding-bottom: 30px;
  text-decoration: none;
  color: #5F6368;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  /*font-family: "Google Sans",Roboto,Arial,sans-serif;*/
}

/* ---------------- box ---------------- */
.box4 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 100px;
}

.leftbox4 {
  background-color: none;
  float: left;
  padding-left: 4.5em;
  padding-top: 3em;
}

.rightbox4 {
  background-color: none;
  padding-top: 3em;
}

.twocol3 {
  width: 50%;
}

.glogo {
  width: 5%;
  height: 60%;
}

.content8terms {
  text-align: right;
  padding-right: 4.5em;
  color: #5F6368;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .twocol2 {
    width: 100%;
  }

  .footer {
    margin: 0;
    padding-left: 0em;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .leftbox3 {
    background-color: none;
    float: left;
    padding-left: 2em;
    padding-top: 3em;
  }

  .rightbox3 {
    background-color: none;
    padding-top: 3em;
  }

  .leftbox4 {
    background-color: none;
    float: left;
    padding-left: 2em;
    padding-top: 3em;
  }

  .rightbox4 {
    background-color: none;
    padding-top: 3em;
  }
  .glogo {
    width: 10%;
    height: 50%;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 200px) {
  .twocol3 {
    width: 100%;
  }
}
