/* CSS files add styling rules to your content */

body {
  /*font-family: helvetica, arial, sans-serif;*/
  margin: 0em;
  font-family: 'Roboto', sans-serif;
}

/*h1 {
  font-style: italic;
  color: #373fff;
}*/

.content {
  /*font-family: helvetica, arial, sans-serif;*/
  margin: 2.5em;
  font-family: 'Roboto', sans-serif;
}

hr {
  background-color: blue;
  border: 2px solid blue;
}

/* ---------------- box basic  ---------------- */
* {
  box-sizing: border-box;
}

/* thing will not go the left and right*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* =========================== ======= Header ======  =========================== */
/* ---------------- Logo ---------------- */
#GoogleLogo {
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------- Navbar---------------- */
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: none;
}

.navleft {
  list-style-type: none;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.navright {
  list-style-type: none;
  overflow: hidden;
  padding-top: 1.5%;
  display: block;
}

.navli {
  float: left;
  font-size: 16px;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #5F6368;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  /*font-family: "Google Sans",Roboto,Arial,sans-serif;*/
}

.navleft a:link {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.navleft a:visited {
  float: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.navleft a:hover {
  background-color: none;
  /*mediumpurple*/
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid #5F6368;
  padding-bottom: 15%;
  font-family: 'Roboto', sans-serif;
}

.navleft a:active {
  background-color: none;
  color: #5F6368;
  font-size: 16px;
  text-align: center;
  border-bottom: 3px solid blue;
  padding-bottom: 15%;
  font-family: 'Roboto', sans-serif;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  #GoogleLogo {
    width: 50%; /* The width is 50%, when the viewport is 800px or smaller */
  }
  .navleft li {
    padding: 10px;
  }

  .navleft a:hover {
    background-color: none;
    /*mediumpurple*/
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid #5F6368;
    padding-bottom: 10%;
  }

  .navleft a:active {
    background-color: none;
    color: #5F6368;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid blue;
    padding-bottom: 10%;
  }
}

/* =========================== ======= Content 1 (welcome) ======  =========================== */
/* ---------------- Img ---------------- */
#flower {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ---------------- text ---------------- */
#content1title {
  color: #424242;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

#content1suntitle {
  color: #424242;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#content1par {
  color: #424242;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

#content1name {
  color: #5F6368;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/* =========================== ======= Content 2 (newfeed) ======  =========================== */
/* ---------------- box ---------------- */

.box {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: auto;
}

.leftbox {
  background-color: none;
  float: left;
  font-family: 'Roboto', sans-serif;
  /*overflow: auto;*/
}

.rightbox {
  background-color: none;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}

.twocol {
  width: 50%;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .twocol {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* ---------------- text ---------------- */
#contentheader1 {
  color: #000000;
  font-size: 24px;
  padding: 10px 0px 10px 0px;
  font-family: 'Roboto', sans-serif;
}

.content2date {
  color: #5F6368;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.content2title {
  color: #414549;
  font-size: 24px;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
}

.content2para {
  color: #414549;
  font-size: 16px;
  margin-top: 24px;
  font-family: 'Roboto', sans-serif;
}

.content2par {
  color: #414549;
  font-size: 16px;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
}

/* ---------------- Img ---------------- */
#content2img {
  width: 95%;
  height: 47%;
}

/* ---------------- New letter  ---------------- */
.clearfixnew {
  overflow: center;
  background-color: lightgrey;
  width: 80%;
  margin: auto;
}

#newletter1 {
  padding-left: 35px;
  padding-top: 35px;
  display: block;
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

#newletter2 {
  padding-left: 35px;
  padding-bottom: 35px;
  display: block;
  color: #1967D2;
  font-size: 16px;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
}

#newletterimg {
  width: 20%;
  height: 15%;
  float: right;
  padding-top: 15px;
}

/*-- =========================== ======= Content 3 (newfeed more) ======  =========================== --*/
/* ---------------- box ---------------- */
.box1 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 600px;
}

.leftbox1 {
  background-color: none;
  float: left;
  font-family: 'Roboto', sans-serif;
  /*overflow: auto;*/
}

.rightbox1 {
  background-color: none;
  padding-left: 35px;
  font-family: 'Roboto', sans-serif;
}

.twocol1 {
  width: 50%;
}

/* ---------------- content ---------------- */
.content3img {
  width: 95%;
  height: 70%;
}

.content3imgpeople {
  width: 10%;
  height: 10%;
  float: left;
}

.content3title {
  color: #424242;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.content3text {
  color: #424242;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.content3textpeople {
  color: #424242;
  font-size: 16px;
  position: right;
  font-family: 'Roboto', sans-serif;
}

.content3name {
  color: #5F6368;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/* Use a media query to add a break point at 300px: */
@media screen and (max-width: 200px) {
  .twocol1 {
    width: 100%;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .content3img {
    width: 95%;
    height: 30%;
  }
}

/*-- =========================== ======= Content 4 (Featured Collection) ======  =========================== --*/

#contentheader2 {
  color: #000000;
  font-size: 24px;
  padding: 10px 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
}

.collection {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}

.collectionleft {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: #000000;
  font-size: 24px;
  float: left;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.collectionright {
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
  float: right;
  color: #1967d2;
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}

/* ---------------- box ---------------- */
.box2 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 500px;
}

.leftbox2 {
  background-color: none;
  float: left;
  /*overflow: auto;*/
}

.centrebox2 {
  background-color: none;
}

.rightbox2 {
  background-color: none;
}

.threecol {
  width: 33.33%;
}

/* ---------------- content ---------------- */
.content4img {
  width: 90%;
  height: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.content4title {
  color: #424242;
  font-size: 24px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.content4text {
  color: #424242;
  font-size: 16px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}

.content4name {
  color: #5F6368;
  font-size: 14px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Use a media query to add a break point at 300px: */
@media screen and (max-width: 200px) {
  .threecol {
    width: 100%;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .content4img {
    width: 95%;
    height: 30%;
  }
}

/*-- =========================== ======= Content 6 (THe Lastest) ======  =========================== --*/
#contentheader3 {
  color: #000000;
  font-size: 24px;
  padding: 10px 0px 0px 0px;
  font-family: 'Roboto', sans-serif;
}

/* ---------------- content ---------------- */
#content6img {
  width: 90%;
  height: 50%;
  padding-top: 10px;
  padding-left: 0px;
}

#content6text {
  color: #424242;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.content6img {
  width: 90%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.content6text {
  color: #424242;
  font-size: 16px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}

#twitter {
  width: 6%;
  height: 5%;
}

.twitter {
  width: 10%;
  height: 5%;
  padding-left: 20px;
}

.arrow {
  width: 5%;
  height: 5%;
  float: right;
}

/* Use a media query to add a break point at 300px: */
@media screen and (max-width: 200px) {
  .threecol {
    width: 100%;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .content6img {
    width: 95%;
    height: 30%;
  }
  #content6img {
    width: 95%;
    height: 30%;
  }

  #twitter {
    width: 10%;
    height: 5%;
  }

  .twitter {
    width: 20%;
    height: 5%;
    padding-left: 20px;
  }

  .arrow {
    width: 10%;
    height: 10%;
    float: right;
  }
}

/*-- =========================== ======= footer ======  =========================== --*/
footer {
  /*font-family: helvetica, arial, sans-serif;*/
  margin: 0em;
}

.footerline {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  margin: 0em;
}

/* ---------------- box ---------------- */
.box3 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 350px;
}

.leftbox3 {
  background-color: none;
  float: left;
  padding-left: 4.5em;
  padding-top: 3em;
}

.rightbox3 {
  background-color: none;
  padding-top: 3em;
}

.twocol2 {
  width: 50%;
}

/* ---------------- footer link---------------- */
.content8title {
  padding-bottom: 25px;
  color: #5F6368;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.content8text {
  color: #5F6368;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.footer {
  margin: 0;
  padding-left: 35%;
  padding-right: 2em;
  display: flex;
  width: 100%;
  height: 100%;
}

.footerleft {
  list-style-type: none;
  padding-right: 20%;
}

.footerright {
  list-style-type: none;
  padding: 0;
}

.navfooter {
  float: left;
  font-size: 16px;
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
  color: #5F6368;
  font-family: 'Roboto', sans-serif;
  /*font-family: "Google Sans",Roboto,Arial,sans-serif;*/
}

.navfooter1 {
  float: left;
  display: block;
  padding-bottom: 30px;
  text-decoration: none;
  color: #5F6368;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  /*font-family: "Google Sans",Roboto,Arial,sans-serif;*/
}

/* ---------------- box ---------------- */
.box4 {
  float: left;
  /*width: 33.33%;*/
  padding: 0px;
  height: 100px;
}

.leftbox4 {
  background-color: none;
  float: left;
  padding-left: 4.5em;
  padding-top: 3em;
}

.rightbox4 {
  background-color: none;
  padding-top: 3em;
}

.twocol3 {
  width: 50%;
}

.glogo {
  width: 5%;
  height: 60%;
}

.content8terms {
  text-align: right;
  padding-right: 4.5em;
  color: #5F6368;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .twocol2 {
    width: 100%;
  }

  .footer {
    margin: 0;
    padding-left: 0em;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .leftbox3 {
    background-color: none;
    float: left;
    padding-left: 2em;
    padding-top: 3em;
  }

  .rightbox3 {
    background-color: none;
    padding-top: 3em;
  }

  .leftbox4 {
    background-color: none;
    float: left;
    padding-left: 2em;
    padding-top: 3em;
  }

  .rightbox4 {
    background-color: none;
    padding-top: 3em;
  }
  .glogo {
    width: 10%;
    height: 50%;
  }
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 200px) {
  .twocol3 {
    width: 100%;
  }
}
