/* CSS files add styling rules to your content */

body {
  margin: 0em;
  font-family: "Roboto", sans-serif;
}

.content {
  margin: 2em;
  font-family: "Roboto", sans-serif;
}

/* Use a media query to add a break point at 600px: */
@media screen and (max-width: 600px) {
  .content {
    margin: 1em;
    font-family: "Roboto", sans-serif;
  }
}

hr {
  background-color: blue;
  border: 2px solid blue;
}

/* ---------------- Hover Box  ---------------- */
.hover {
  border: 0px solid transparent;
  padding: 10px 10px 10px 10px;
}

.hover:hover {
  border: 1px solid transparent;
  background-color: white;
  box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 transparent;
}

/* ---------------- box basic  ---------------- */
* {
  box-sizing: border-box;
}

/* thing will not go the left and right*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
